<div>
	<div>
		Playing Game @Game.Id
	</div>
	<div>
		Turn @CurrentGame.Turn
	</div>
	<div>
		Status @CurrentGame.Status
	</div>
</div>

<div style="display: flex; flex-direction: column; gap: 1rem;">
	@if (CurrentGame.Status == 0)
	{
		@if (alreadyVote)
		{
			<div>Waiting for turn end</div>
		}
		else
		{
			@if (players is not null)
			{
				@foreach (var player in players)
				{
					@if (!IsPlayerAddress(player))
					{
						<Button OnClick="_ => VoteAsync(player)">@(IsPlayerKiller() ? "Kill" : "Vote") @player</Button>
					}
				}
			}
		}
	}
	else if (CurrentGame.Status == 1)
	{
		<div>People Win</div>
	}
	else
	{
		<div>ZKiller Win</div>
	}
</div>

